@*<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">*@
<!DOCTYPE html>
@*<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app="app">*@
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Verification | Portal</title>
    <meta name="description" content="Your description" />
    <meta name="keywords" content="Your,Keywords" />
    <meta name="author" content="ResponsiveWebInc" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles -->
    <!-- Bootstrap CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font awesome CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link href="~/css/owl.carousel.css" rel="stylesheet" />

    <!-- CSS for this page -->
    <!-- Revolution Slider -->
    <link href="~/css/settings.css" rel="stylesheet" />

    <!-- Base style -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Skin CSS -->
    <link href="~/css/skin-orange.css" rel="stylesheet" id="color_theme" />
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" />-->
    @*<link href="style.css" rel="stylesheet" />*@

    <link href="~/css/default.css" rel="stylesheet" />




    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/skins/color.css" rel="stylesheet" />
    <link href="~/css/overwrite.css" rel="stylesheet" />


    @*<base href="/NewTrademark/" />*@








    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootsnav.css" rel="stylesheet" />



    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css" />
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/docs.min.css" />
    <link href="~/css/animate.css" rel="stylesheet" />
  
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootsnav.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>

    <script src="~/Scripts/angular-strap.min.js"></script>
    <script src="~/Scripts/angular-strap.tpl.min.js"></script>

    <script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.8"></script>



    @*<script src="~/Scripts/angular-animate.js"></script>*@

    <script src="~/Scripts/angular-ui-router.min.js"></script>

    <script src="~/Scripts/app.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/LoginInterceptor.js"></script>
    <script src="~/Scripts/GetData2.js"></script>
    <script src="~/Scripts/GetData.js"></script>

    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/sweet-alert.min.js"></script>
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Scripts/loading-bar.js"></script>
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <script src="~/Scripts/angular-facebook.min.js"></script>

    <script src="~/Scripts/smart-table.min.js"></script>
    <link href="~/Content/ng-modal.css" rel="stylesheet" />
    <script src="~/Scripts/ng-modal.min.js"></script>

    <script src="~/Scripts/angular-datepicker.min.js"></script>
    <link href="~/Content/angular-datepicker.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/alasql.min.js"></script>
    <script src="~/Scripts/ng-csv.min.js"></script>
    <script src="~/Scripts/xlsx.core.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/tableExport.js"></script>
    <script src="~/Scripts/sprintf.js"></script>
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/jquery.base64.js"></script>

    <script src="~/Scripts/base64.js"></script>


    @*<link href="~/Content/Menu2.css" rel="stylesheet" />*@



    <script>

        $(document).ready(function () {

            //var docHeight = $(window).height();
            //var footerHeight = $('#footer').height();
            //var footerTop = $('#footer').position().top + footerHeight;

            //if (footerTop < docHeight) {
            //    $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
            //}

            //$(window).on('resize load', function () {
            //    $('body').css({ "padding-top": $(".navbar").height() + "px" });
            //});

        });
    </script>




    <style type="text/css">
        .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
            color: #a94442;
        }

        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: red;
        }

        span.ng-scope {
            color: red;
        }
        /*input.ng-invalid {
          border: 1px solid red;

        }
        input.ng-valid {
          border: 1px solid green;

        }


        :focus ~ .error {
            display:none;
        }*/
        form.ng-submitted .ng-invalid {
            border-color: red;
            border-width: 2px;
        }
    </style>

    <style>
        .btn-warning2 {
            color: white;
            background-color: #520B00;
            border-color: #eea236;
        }


        @@media print {

            .no-print, .no-print * {
                display: none !important;
            }
        }

        /*body {
            padding-top: 70px;
        }*/
    </style>

    <style>
                @@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

                body, h1, h2, h3, h4, h5, h6 {
                    font-family: 'Bree Serif', serif;
                }

                /*.jumbotron {
            position: relative;
            background: #000 url("jumbotron-bg.png") center center;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
        }*/
body {
   
    padding-top: 5px;
}

    </style>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 2000
            });
        });


        $(document).ready(function () {
            var mCarouselTO = setTimeout(function () {
                $('.carousel').carousel({
                    interval: 2000,
                    cycle: true,
                }).trigger('slide');
            }, 2000);
            var q = mCarouselTO;
        });

    </script>







    <meta charset="utf-8" />
</head>
<body  class="hold-transition skin-blue sidebar-mini">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img ng-show=islogin height="80px" width="100px" ng-src="{{vurl}}" />
            </div>
            <div class="col-sm-4">
                <img alt="Coat of Arms" src="images/LOGOCLD.jpg" width="458" height="76" />
              
            </div>
            <div class="col-sm-4 " >
                <img ng-show=islogin  height="80px" width="130px" class="pull-right" ng-src="{{vurl2}}" />
            </div>

        </div>
    </div>
   
    <nav class="navbar navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
              
                @*<a class="navbar-brand" href="#brand"><img src="~/Images2/brand/xmas_logo.jpg" class="img-responsive" alt="" /></a>*@
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#/About">About</a>
                    </li>
                 

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Custom Menu</a></li>
                            <li><a href="#">Custom Menu</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Custom Menu</a></li>
                                            <li><a href="#">Custom Menu</a></li>
                                            <li><a href="#">Custom Menu</a></li>
                                            <li><a href="#">Custom Menu</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Custom Menu</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Custom Menu</a></li>
                        </ul>
                    </li>

                  
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                </ul>
               


                <ul class="nav navbar-nav navbar-right">
                    <li>
                       
                    <a ui-sref="Register" ng-show=!islogin><span class="glyphicon glyphicon-user"></span> Sign Up</a> 
                        <a href="#" ng-show=islogin><span ng-bind="username" /></a>
                       
                    </li>
                    <li>
                        <a ui-sref="login" ng-show=!islogin><span class="glyphicon glyphicon-log-in"></span> Login</a>

                      <a ui-sref="logout" ng-show=islogin>Logout</a>  
                     
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div>
        <div id="form-views" ui-view>
            <!-- Header two ends -->
            <!-- Main content starts -->
            <!-- Image Box #3 Ends -->
        </div>


        <footer id="footer" style="background-color:black;color:white" class="footer">
            <div class="container">
                <div class="row">


                    @*<p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">Blog</a>
                        ·
                        <a href="#">Pricing</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact</a>
                    </p>*@

                    <p class="footer-company-name">Company Name &copy; 2015</p>

                </div>
            </div>
        </footer>
    </div>
</body>
</html>




