<div class="main-block">

    <div class="container">
        <div>

            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3  col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                     


                            <div class="panel-title">Change Password</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#/Register">Sign Up</a></div>
</div>

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" name="userForm" class="form-horizontal" ng-submit="submitForm2(vform,userForm.$valid)" novalidate role="form">


                            <table class="table">
                                <tr>
                                    <td style="text-align:right">


                                        <b> Old Password <span style="color:red">*</span></b>
                                        <p></p>
                                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block input-group-addon">Old Password Required.</p>


                                    </td>

                                    <td>
                                        <input id="login-password" type="password" class="form-control input-lg" name="password" required ng-model="vform.password" placeholder="Old Password"> 
                                       





                                    </td>

                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="alert alert-info fade in">
                                            <strong>PASSWORD RULE</strong> <br />
                                            <strong>Alphanumeric in nature i.e. must include both alphabets and numbers</strong> <br />
                                            <strong>Must contain at least one special character such as %$!@ *#</strong> <br />
                                            <strong>Must be a minimum of 8 characters</strong> <br />
                                            <strong>Must contain at least 1 capital letter</strong> <br />
                                        </div>

                                    </td>

                                </tr>

                                <tr>
                                    <td style="text-align:right">


                                        <b> New Password <span style="color:red">*</span></b>
                                        <p></p>
                                        <p ng-show="userForm.password2.$invalid && !userForm.password2.$pristine" class="help-block input-group-addon">New Password Required.</p>


                                    </td>

                                    <td>
                                        <input id="password" type="password" class="form-control" ng-blur="change2()" id="password"  name="password2" required ng-model="vform.password2" placeholder="New Password"> 






                                    </td>

                                </tr>

                                <tr>
                                    <td style="text-align:right">


                                        <b> Confirm  Password <span style="color:red">*</span></b>
                                        <p></p>
                                        <p ng-show="userForm.password3.$invalid && !userForm.password3.$pristine" class="help-block input-group-addon">Confirm  Password Required.</p>


                                    </td>

                                    <td>
                                       
                                        <input id="passwd2" type="password" ng-blur="change3()" class="form-control" name="password3"  required ng-model="vform.password3" placeholder="Confirm Password"> 






                                    </td>

                                </tr>

                                <tr>
                                    <td colspan="2" style="text-align:center">

                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit</button>
                                    </td>

                                </tr>

                            </table>


                          






                        </form>



                    </div>


                </div>
            </div>




        </div>
    </div>


</div>
   




