
<div class="main-block">

    <div class="container">
        <div>

            <table class="table">
                <tr>
                    <td>Order Id</td>
                    <td> {{Transaction_Id}}</td>

                </tr>
                <tr>
                    <td>Transaction Date</td>
                    <td> {{TranDateTime2}}</td>

                </tr>

                <tr>
                    <td>Order Status</td>
                    <td> {{OrderStatus2}}</td>

                </tr>


                <tr>
                    <td>Decline Reason</td>
                    <td> {{ResponseDescription2}}</td>

                </tr>

            </table>




        </div>
    </div>


</div>


